
doctype html
html
 head
   title #{title}
   link(rel='stylesheet', href='/css/style.css')
   meta(name="viewport" content="width=device-width, initial-scale=1")
 body
   header.header
         h1 #{title}
   div.profile
     img.profile-image(src=`/images/${building.imgSrc}`)
   div  
     img.profile-image(src=`/images/${building.imgSrc1}`)
   div  
     img.profile-image(src=`/images/${building.imgSrc2}`)
   
     div.profile-details
       h1.profile-name
         | #{building.name} #{building.legobuilding}
         p.profile-legobuilding
         | #{building.legobuilding}
         p.profile-SetNumber
         | #{building.SetNumber}
         p.profile-SetTheme
         | #{building.SetTheme}
         p.profile-SetName
         | #{building.SetName}ù
         p.profile-Year
         | #{building.Year}
       
